.items-table-container {
  margin: 20px;
  margin-bottom: 60px;
}

.items-table {
  width: 100%;
  border-collapse: collapse;
}

.items-table th,
.items-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.items-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.items-table tr:nth-child(even) {
  background-color: #f9f9f9;
}



.items-table td:last-child {
  text-align: right;
}

.items-table td button {
  margin-left: 5px;
  cursor: pointer;
}


