.navbar {
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    width: 100%;
  }
  
  .navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; 
  }
  
  .navbar-links li {
    margin: 0 15px;
  }
  
  .navbar-links a {
    color: #000000;
    text-decoration: none;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }